.holder{
    display: flex;
    flex-direction: row;
    flex: auto;
    font-family: Helvetica;
    text-align: left;
    margin: 20px;
}
.holder > div{
    margin: 40px;
    padding: 40px;
    flex: 1;
}
.holder > div > p{
    color:cadetblue;
    text-shadow: 1px 0px 1px  cadetblue;
    font-size: 20px;
    font-weight:lighter;
}
.holder > div > button{
    margin: 10px;
    padding: 10px;
    margin-top: 40px;
    float: left;
    width: 250px;
    height: 60px;
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    border: 0px white;
    border-radius: 50px;
}
.consultation{
    color: white;
    background-color:dodgerblue;
}
.services{
    color: dodgerblue;
    background-color:white;
}

.holder > div:nth-child(2) > img{
    border-radius: 50%;
    border: 1px solid dodgerblue;
    box-shadow: 1px 1px 2px gray;
    
}
.holder > div:nth-child(1) > h1{
    font-size: 50px;
    text-shadow: 2px 1px 2px gray;
    color: darkblue;
}

.holder > div:nth-child(1) > p > span{
    color: brown;
    text-shadow: 1px 1px 1px brown;
}
.holder > div:nth-child(1) > div{
   background-color:lightgrey;
   height: 50px;
   width: 50px;
   padding: 5px;
   border: 0px white;
   border-radius: 20%;
}