.card > p:nth-child(2) > a{
    margin-top: 80px;
    text-decoration: none;
    font-size: 30px;    
    color: darkblue;
    font-weight: bold;
}

.card{
    border: 0px white;
    border-radius: 5%;
    box-shadow: 0px 0px 2px gray;
    margin: 20px;
    padding: 30px;
    height: 300px;
    width: 350px;
    text-align: left;
}

.card > p:nth-child(3){
    font-size: 20px;
}

.card > p:nth-child(4) {
    color:cadetblue;
    font-weight: 500;
}